.grid-container {
    display: flex;
}

.grid-item {
    margin-right: 5px;
}

.squares {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-top: 10px;
}

.ufo {
    width: 100px;
    height: 100px;
}